In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [2]:
# Read the CSV files into DataFrames.
df1 = pd.read_csv('Resources/athletic_sales_2020.csv')
df2 = pd.read_csv('Resources/athletic_sales_2021.csv')

# Display the head of the first DataFrame
df1.head(10)

# Display the head of the second DataFrame
df2.head(10)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online
5,Kohl's,1189833,1/2/21,Midwest,Montana,Billings,Women's Apparel,45,475,213750,53437.50,Outlet
6,West Gear,1128299,1/2/21,West,California,San Francisco,Women's Street Footwear,60,218,13080,6670.80,Online
7,West Gear,1128299,1/2/21,West,California,San Francisco,Women's Street Footwear,46,225,10350,4554.00,Outlet
8,West Gear,1128299,1/2/21,West,California,San Francisco,Women's Street Footwear,65,750,487500,195000.00,Outlet
9,Kohl's,1189833,1/2/21,Midwest,Montana,Billings,Women's Apparel,43,138,5934,2314.26,Online

In [3]:
# Display the 2020 sales DataFrame
df = pd.read_csv('Resources/athletic_sales_2020.csv')
df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [4]:

# Display the 2021 sales DataFrame
df = pd.read_csv('Resources/athletic_sales_2021.csv')
df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [5]:
# Check the 2020 sales data types.
df = pd.read_csv('Resources/athletic_sales_2020.csv')
print(df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [6]:
# Check the 2021 sales data types.
df = pd.read_csv('Resources/athletic_sales_2021.csv')
print(df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [7]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
 # combine on rows and reset index
df3 = pd.concat([df1, df2], axis=0, ignore_index=True)
df3.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [8]:

# Check if any values are null.
df3 = pd.DataFrame
print(df.isnull().any(axis=0)) # check along columns
print(df.isnull().any(axis=1))

retailer            False
retailer_id         False
invoice_date        False
region              False
state               False
city                False
product             False
price_per_unit      False
units_sold          False
total_sales         False
operating_profit    False
sales_method        False
dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
8341    False
8342    False
8343    False
8344    False
8345    False
Length: 8346, dtype: bool

In [9]:
# Check the data type of each column
df3 = pd.DataFrame
print(df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [10]:
# Convert the "invoice_date" to a datetime datatype
# Convert 'invoice_date' to datetime
df1['invoice_date'] = pd.to_datetime(df1['invoice_date'])
df2['invoice_date'] = pd.to_datetime(df2['invoice_date'])

C:\Users\nabih\AppData\Local\Temp\ipykernel_2532\2647944043.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df1['invoice_date'] = pd.to_datetime(df1['invoice_date'])
C:\Users\nabih\AppData\Local\Temp\ipykernel_2532\2647944043.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2['invoice_date'] = pd.to_datetime(df2['invoice_date'])

In [11]:
# Confirm that the "invoice_date" data type has been changed.
print(df1['invoice_date'].dtype)
print(df2['invoice_date'].dtype)

datetime64[ns]
datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [12]:

# Group by 'region', 'state', and 'city' and count the number of items in each group
region_sales = df.groupby(['region', 'state', 'city']).size().reset_index(name='Total_Products_Sold')

# Sort the DataFrame by 'Total_Products_Sold' in descending order
region_sales.sort_values(by='Total_Products_Sold', ascending=False, inplace=True)

# Show the top 5 results
print(region_sales.head())

       region         state           city  Total_Products_Sold
28      South      Oklahoma  Oklahoma City                  216
30      South         Texas         Dallas                  216
21  Northeast  Rhode Island     Providence                  216
31  Southeast       Florida        Orlando                  216
32  Southeast       Georgia        Atlanta                  216

#### Using `pivot_table`

In [13]:

# Create a pivot table
pivot_table = pd.pivot_table(df, values='units_sold', index=['region', 'state', 'city'], aggfunc='sum')

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results
print(pivot_table.nlargest(5, 'Total_Products_Sold'))

                                      Total_Products_Sold
region    state          city
West      California     Los Angeles                76384
Southeast South Carolina Charleston                 72610
South     Texas          Dallas                     69178
          Tennessee      Knoxville                  66077
West      Idaho          Boise                      63827

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [14]:
# Calculate the total sales for each region
total_sales_by_region = df.groupby('region')['total_sales'].sum()

# Rename the "total_sales" column to "Total Sales"
total_sales_by_region.rename('Total Sales', inplace=True)

# Determine the region with the most sales
max_sales_region = total_sales_by_region.idxmax()

# Show the top 5 results
print(total_sales_by_region.nlargest(5))

region
West         193048029
Northeast    145574358
Southeast    131570373
Midwest      128422391
South        119206299
Name: Total Sales, dtype: int64

#### Using `pivot_table`

In [15]:

pivot_table = pd.pivot_table(df, values='total_sales', index=['region', 'state', 'city'], aggfunc='sum')


pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)


print(pivot_table.nlargest(5, 'Total Sales'))

                                        Total Sales
region    state          city
Southeast South Carolina Charleston        29285637
          Florida        Orlando           27682851
West      California     San Francisco     25829830
                         Los Angeles       25634913
Northeast New York       Albany            24427804

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [16]:
# Calculate the total sales for each retailer
total_sales_by_retailer = df.groupby('retailer')['total_sales'].sum()

# Rename the "total_sales" column to "Total Sales"
total_sales_by_retailer.rename('Total Sales', inplace=True)

# Determine the retailer with the most sales
max_sales_retailer = total_sales_by_retailer.idxmax()

# Show the top 5 results
print(total_sales_by_retailer.nlargest(5))

retailer
Foot Locker      177217915
Sports Direct    167209896
West Gear        152665067
Kohl's           101356250
Amazon            77698912
Name: Total Sales, dtype: int64

#### Using `pivot_table`

In [17]:
# Create a pivot table
pivot_table = pd.pivot_table(df, values='total_sales', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')

# Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results
print(pivot_table.nlargest(5, 'Total Sales'))

                                                    Total Sales
retailer    region    state          city
Kohl's      West      California     Los Angeles       25127160
Foot Locker Southeast South Carolina Charleston        24822280
West Gear   West      California     San Francisco     24651007
                      Oregon         Portland          21349674
Walmart     Southeast Florida        Orlando           21005539

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [18]:
# Filter the sales data to get the women's athletic footwear sales data.

#### Using `groupby`

In [18]:

# Filter the sales data to get the women's athletic footwear sales data
womens_sales = df[df['product'] == 'Women\'s Athletic Footwear']

# Group by 'retailer', 'region', 'state', and 'city' and sum 'units_sold'
grouped_sales = womens_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
grouped_sales.rename('Womens_Footwear_Units_Sold', inplace=True)

# Show the top 5 results
print(grouped_sales.nlargest(5))

retailer       region     state           city
Kohl's         West       California      Los Angeles      10826
West Gear      West       California      San Francisco     9213
Foot Locker    Southeast  South Carolina  Charleston        8814
Sports Direct  South      Texas           Dallas            8790
                          Tennessee       Knoxville         8276
Name: Womens_Footwear_Units_Sold, dtype: int64

#### Using `pivot_table`

In [19]:
# Filter the sales data to get the women's athletic footwear sales data
womens_sales = df[df['product'] == 'Women\'s Athletic Footwear']

# Create a pivot table
pivot_table = pd.pivot_table(womens_sales, values='units_sold', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results
print(pivot_table.nlargest(5, 'Womens_Footwear_Units_Sold'))

                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
Kohl's        West      California     Los Angeles                         10826
West Gear     West      California     San Francisco                        9213
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790
                        Tennessee      Knoxville                            8276

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [20]:
# Filter the sales data to get the women's athletic footwear sales data
womens_sales = df[df['product'] == 'Women\'s Athletic Footwear']

# Create a pivot table
pivot_table = pd.pivot_table(womens_sales, values='total_sales', index='invoice_date', aggfunc='sum')

# Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table
print(pivot_table)

              Total Sales
invoice_date
1/10/21            315859
1/11/21             66584
1/12/21            405693
1/13/21            256764
1/14/21            235207
...                   ...
9/5/21             540010
9/6/21             103419
9/7/21             241024
9/8/21             242278
9/9/21             388630

[277 rows x 1 columns]

In [21]:
# Ensure 'invoice_date' is a DateTime object
pivot_table.index = pd.to_datetime(pivot_table.index)

# Resample the pivot table into daily bins
resampled_pivot_table = pivot_table.resample('D').sum()

# Rename the "total_sales" column to "Total Sales"
resampled_pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Sort the resampled pivot table in ascending order on "Total Sales"
sorted_pivot_table = resampled_pivot_table.sort_values(by='Total Sales', ascending=True)

# Show the table
print(sorted_pivot_table)

              Total Sales
invoice_date
2021-12-07              0
2021-04-27              0
2021-08-05              0
2021-04-25              0
2021-11-25              0
...                   ...
2021-07-23        1021806
2021-08-17        1086294
2021-06-17        1376988
2021-12-16        1473497
2021-07-16        1521825

[362 rows x 1 columns]

C:\Users\nabih\AppData\Local\Temp\ipykernel_2532\480896601.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pivot_table.index = pd.to_datetime(pivot_table.index)

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [22]:

# Resample the pivot table into weekly bins
resampled_pivot_table = pivot_table.resample('W').sum()

# Sort the resampled pivot table in ascending order on "Total Sales"
sorted_pivot_table = resampled_pivot_table.sort_values(by='Total Sales', ascending=True)

# Show the table
print(sorted_pivot_table)

              Total Sales
invoice_date
2021-08-01         125495
2022-01-02         167903
2021-10-31         253555
2021-04-04         291108
2021-01-03         435435
2021-02-28         715269
2021-07-04         718604
2021-01-31         746105
2021-10-03         883623
2021-06-06         893450
2021-03-07         916441
2021-03-28         936963
2021-05-02         947118
2021-05-30        1055137
2021-04-25        1080652
2021-02-21        1104653
2021-09-26        1108370
2021-11-28        1150272
2021-02-07        1183161
2021-09-05        1256700
2021-03-21        1290523
2021-08-29        1485963
2021-03-14        1492711
2021-04-11        1494383
2021-10-24        1501159
2021-01-10        1614780
2021-09-12        1655184
2021-11-07        1690132
2021-01-24        1691225
2021-08-08        1697914
2021-04-18        1716322
2021-12-26        1719976
2021-12-05        1741630
2021-05-23        1769978
2021-05-09        1786694
2021-01-17        1869611
2021-10-17        1893208
2021-10-10        2002892
2021-06-27        2020227
2021-09-19        2021810
2021-02-14        2026577
2021-07-25        2215726
2021-06-20        2258515
2021-06-13        2358602
2021-05-16        2422132
2021-11-21        2449537
2021-08-15        2463941
2021-08-22        2491259
2021-11-14        2531721
2021-07-18        2801449
2021-07-11        2835078
2021-12-12        2922161
2021-12-19        3098970